{% extends "base.html" %}

{% block title %}Home | ToolShare{% endblock %}

{% block content %}
    <div class="text-center row">
      <h1 class="display-4">Welcome to ToolShare</h1>
      <p>Find the tools you need to complete your next DIY project</p>
    </div>

    <div class="row text-center">
      <div class="col-lg align-self-center">
        <a href="{{ url_for('register_artisan') }}" class="btn btn-primary m-4 px-4 py-2 text-uppercase"><strong>Register a Tool</strong></a>
        <a href="{{ url_for('search.search_tools') }}" class="btn btn btn-primary m-4 px-4 py-2">Search Tools</a>
        <a href="{{ url_for('user.profile', user_id=1) }}" class="btn btn-primary m-4 px-4 py-2">View/Edit Profile</a>
      </div>
    </div>

    {% if tools %}
      <div class="row">
        {% for tool in tools %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
              {% if tool.image_url %}
                <img src="{{ tool.image_url }}" class="card-img-top" alt="{{ tool.name }}">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ tool.name }}</h5>
                <p class="card-text">{{ tool.description }}</p>
                <p><strong>${{ tool.daily_price }}</strong> per day</p>
                <a href="{{ url_for('subscribe', artisan_id=tool.id) }}" class="btn btn-primary">Rent this Tool</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="mt-3 mb-3 row">
        <div class="col-lg align-self-center text-center">
          <p><strong>No tools available right now.</strong></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-2">
          <img class="rounded img-fluid img-thumbnail" src="{{ url_for('static', filename='images/sam-clarke-ZEfFgaXVaV4-unsplash.jpg') }}" />
          <small class="text-muted">Photo by <a class="text-muted" href="https://unsplash.com/@clarke_designs_photography?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sam Clarke</a></small>
        </div>
        <div class="col-lg-2">
          <img class="rounded img-fluid img-thumbnail" src="{{ url_for('static', filename='images/marissa-daeger-jCctpZe3sZo-unsplash.jpg') }}" />
          <small class="text-muted">Photo by <a class="text-muted" href="https://unsplash.com/@marissadaeger?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Marissa Daeger</a></small>
        </div>
      </div>
    {% endif %}



  </div>
{% endblock %}
