{% extends "base.html" %}

{% block title %}Register | ToolShare{% endblock %}

{% block content %}

  <h2>User Registration</h2>

  <div class="row">
    <div class="col-lg-3 align-self-center">
      <form method="POST">

        <div class="form-group">
          <small id="securityNote" class="form-text text-muted">Your information</small>
        </div>
        <div class="form-group">
          <label>Name:</label>
          <input class="form-control" type="text" placeholder="Enter your name" name="name" required>
        </div>
        <div class="form-group">
          <label>ZIP Code:</label>
          <input class="form-control" type="text" placeholder="Enter your Zip Code" name="zip_code" required>
        </div>

        <div class="form-group mt-4">
          <small id="securityNote" class="form-text text-muted">Tool information</small>
        </div>
        <div class="form-group">
          <label>Tool Name:</label>
          <input class="form-control" type="text" placeholder="Enter the tool" name="product_name" required>
        </div>
        <div class="form-group">
          <label>Weekly Price ($):</label>
          <input class="form-control" type="number" placeholder="Enter price" step="0.01" name="subscription_price" required>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary mt-3" value="Register Tool">
        </div>
      </form>
    </div>
  </div>


{% endblock %}
